.deckSection{
  display: flex;
  justify-content: space-between;
}

.singleDeck {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  width: 100%;
  margin: 20px 0;
  
}

.deskFeed {
  display: flex;
  flex-direction: column;
  outline: 1px solid red;
  width: 60vw;
}
