#deckListContainer {
  display: flex;
}

.rightSideDeck {
  outline: 1px solid red;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.leftSideDeck {
  outline: 1px solid purple;
}

#displayedCard {
  height: 300px;
}