.navbar {
  padding: 0 20px 0 20px;
  
}

.none {
  display: none;
}

.navbar p{
  color: rgb(182, 0, 0);
  white-space: nowrap;
  margin: auto;
}

.navbar-collapse {
  justify-content: end;
}

.navbar-nav {
  justify-content: space-between;
  margin-right: 20px;
  width: 30%;
}


.brand {
  width: 180px;
  height: auto;
  padding: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  outline: 2px solid orange;
}

.pageName {
  margin: 20px;
}